@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
h1 {
  text-align: center;
  padding: 30px;
  font-family: 'VT323';
  font-size: 100px;
}
#pokemon-data {
  text-align: center;
 
}
.search-bar {
  padding-bottom: 15px;
  
}

.container{
  text-align: center;
  text-transform: uppercase;
  font-family: 'VT323';
  font-size: 20px;
}