/* Main Content */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
h1 {
  text-align: center;
  padding: 30px;
  font-family: 'VT323';
  font-size: 100px;
  color: whitesmoke;
  border: solid;
}
body {
  background-color: #ef233c ;
}
#pokemon-data {
  text-align: center;
}
.container{
  text-align: center;
  text-transform: uppercase;
  font-family: 'VT323';
  font-size: 20px;
  color: whitesmoke;
  display: inline-flex;
  
}

/*  Search Bar */
input[type=text] {
  width: 150px;
  padding: 9px;

}
input[type=text],
#submit{
  vertical-align: middle;
}
.search-bar {
  padding-bottom: 15px;
  
}


/* Button styling */
#submit {
  font-family: 'VT323';
  font-size: 30px;
  float: inline;
}
button {
  margin: 30px;
  padding: 8px;
}
.kanto {
  font-family: 'VT323';
  font-size: 30px;
}
.johto {
  font-family: 'VT323';
  font-size: 30px;
}
.hoenn {
  font-family: 'VT323';
  font-size: 30px;
}
.sinnoh {
  font-family: 'VT323';
  font-size: 30px;
}
.unova {
  font-family: 'VT323';
  font-size: 30px;
}
.kalos {
  font-family: 'VT323';
  font-size: 30px;
}
.alola {
  font-family: 'VT323';
  font-size: 30px;
}
.galar {
  font-family: 'VT323';
  font-size: 30px;
}




